.mask {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.mask-half-1 {
  mask-size: 200%;
  mask-position: left;
}

.rtl .mask-half-1,
[dir='rtl'] .mask-half-1 {
  mask-position: right;
}

.mask-half-2 {
  mask-size: 200%;
  mask-position: right;
}

.rtl .mask-half-2,
[dir='rtl'] .mask-half-2 {
  mask-position: left;
}

.mask-star {
  mask-image: url("data:image/svg+xml,%3csvg width='192' height='180' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m96 137.263-58.779 42.024 22.163-68.389L.894 68.481l72.476-.243L96 0l22.63 68.238 72.476.243-58.49 42.417 22.163 68.389z' fill-rule='evenodd'/%3e%3c/svg%3e");
}

.mask-star-2 {
  mask-image: url("data:image/svg+xml,%3csvg width='192' height='180' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m96 153.044-58.779 26.243 7.02-63.513L.894 68.481l63.117-13.01L96 0l31.989 55.472 63.117 13.01-43.347 47.292 7.02 63.513z' fill-rule='evenodd'/%3e%3c/svg%3e");
}

/* Details element styles */
details[open] summary::before {
  transform: rotate(90deg);
}

[data-details-summary-placeholder]::before {
  content: attr(data-details-summary-placeholder);
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  color: hsl(var(--muted-foreground));
  pointer-events: none;
}
